:root {
  --spacing: 10px;
  --blur: 10px;
  --color: #000;
}
.controls {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.image {
  max-width: 1050px;
  margin: 0 10rem;
}
img {
  background-color: var(--color);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  filter: blur(var(--blur));
  width: 100%;
}
